<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skillset</title>
    <link href="../assets/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class = "feedbackHeader">
        <h1> Employer Dashboard </h1>
    </div>
    <div class = "feedbackBody">
        <h2> 50 out of 200 applicants passed initial assessments </h2>
        <h2> List of Qualified Applicants: </h2>
            <p> Tyler Jorgensen: 15/15</p>
            <p> Jacob Steele: 13/15</p>
            <p> Gavin Fairbanks: 12/15</p>
            <p> Jordan Knudsen: 12/15</p>
            <p> ...</p>
    </div>



    </div>
</body>
</html>
