<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skillset</title>
    <link href="../assets/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class = "header">
        <h1> SkillSet </h1>
    </div>
    <div class="container assessment">
            
        <div class = "feedbackHeader">
            <h1> (insert Assessment name here) Assessment Feedback: (insert Applicant Name) </h1>
        </div>
        <div class = "feedbackBody">
            <h2> Score out of (insert num of questions): (insert num correct) </h2>
            <h2> Questions you missed: </h2>
            <p> (insert first question missed) </p>
                <p> Correct answer: (insert correct answer) </p>
                <p> (continue inserting missed questions and answers)</p>
            </ul>
            <h2> Minimum score required by employer: (insert determined proficiency level)</h2>
                <p> Congratulations, you passed the application screening process!</p>
                <p> Please wait for a message/phone call from us! </p>
                <p> (or) Sorry, you did not meet the minimum proficiency level required for this position.</p>
                <p> Here is a list of resources to help you improve your skillset based on the questions you missed:</p>
                <div class = "listOfResources"> 
                    <li> (first resource) </li>
                    <li> (second resource) </li>
                    <li> (etc...) </li>
                </div>



        </div>
        
    </div>

    <script>

        

    </script>
</body>
</html>
