<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skillset</title>
    <link href="../assets/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class = "header">
        <h1> SkillSet </h1>
    </div>
    <div class="container assessment">
            
        <div class = "feedbackHeader">
            <h1> Excel Assessment Feedback: Tyler Jorgensen </h1>
        </div>
        <div class = "feedbackBody">
            <h2> Score out of 2 questions: 1 </h2>
            <h2> Questions you missed: </h2>
                <div class = "questionsMissed">
                    <p> What is the correct syntax for the "If" function? </p>
                    <p> You answered: "IF ([value_if_true], [value_if_false], logical_test ])"</p>
                    <p> Correct answer: "IF (logical_test, [value_if_true], [value_if_false])" </p>
                </div>
            </ul>
            <h2> Minimum score required by employer: 2</h2>
                <!-- <p> Congratulations, you passed the application screening process!</p>
                <p> Please wait for a message/phone call from us! </p> -->
                <p> Sorry, you did not meet the minimum proficiency level required for this position.</p>
                <p> Here is a list of resources to help you improve your skillset based on the questions you missed:</p>
                <div class = "listOfResources"> 
                    <li> <a href = "https://corporatefinanceinstitute.com/resources/excel/"> corporatefinanceinstitute.com/resources/excel </a>  </li>
                </div>



        </div>
        
    </div>

    <script>

        

    </script>
</body>
</html>
