<div class="logo">
    <svg xmlns="http://www.w3.org/2000/svg" width="369.2282" height="62.2679" viewBox="0 0 321.068 54.146">
        <g id="Group_9" data-name="Group 9" transform="translate(-4722.382 -291.709)">
          <text id="Skill_Set_services" data-name="Skill Set services" transform="translate(4782.45 337.775)" fill="#e1f1ff" font-size="25" font-family="Arial-BoldMT, Arial" font-weight="700"><tspan x="0" y="0">SKILL SET SERVICES</tspan></text>
          <g id="Path_3" data-name="Path 3" transform="translate(4722.382 318.782) rotate(-45)" fill="none">
            <path d="M0,0H38.287V38.287H0Z" stroke="none"/>
            <path d="M 4 4 L 4 34.2867431640625 L 34.2867431640625 34.2867431640625 L 34.2867431640625 4 L 4 4 M 0 0 L 38.2867431640625 0 L 38.2867431640625 38.2867431640625 L 0 38.2867431640625 L 0 0 Z" stroke="none" fill="#e1f1ff"/>
          </g>
          <path id="Path_2" data-name="Path 2" d="M0,33.871H15.786V0" transform="translate(4762.43 292.274) rotate(45)" fill="none" stroke="#e1f1ff" stroke-width="8"/>
          <text id="BRIGHAM_YOUNG_UNIVERSITY" data-name="BRIGHAM YOUNG UNIVERSITY" transform="translate(4785.122 310.187)" fill="#e1f1ff" font-size="17" font-family="ArialMT, Arial"><tspan x="0" y="0">BRIGHAM YOUNG UNIVERSITY</tspan></text>
        </g>
      </svg>
</div>