<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skillset</title>
    <link href="../assets/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class = "header">
        <h1> Your Hits </h1>
    </div>
    <div class = "container">
        <div class="jobpostings">

            <h1> Job Postings </h1>
            <div class = "listings">
                <div class = "jobPost">
                    <div class = "jobDescription">
                        <h2> Associate </h2>
                        <h4> Mckinsey & Co. </h4>
                    </div>
                </div>
                <div class = "jobPost">
                    <div class = "jobDescription">
                        <h2> Salesforce Business Analyst - CRM Engineering </h2>
                        <h4> Goldman Sachs and Co. </h4>
                    </div>
                </div>
                <div class = "jobPost">
                    <div class = "jobDescription">
                        <h2> Business Analyst </h2>
                        <h4> Boston Consulting Group </h4>
                    </div>
                </div>
    
            </div>
        </div>
        <div class="job_detail">
            <h1> Associate </h1>
            <h2> Mckinsey & Co </h2>
            <h3> Who You'll Work With     </h3>
        

               <p> Associates join our offices and practices (e.g. Digital, Marketing & Sales, Operations, etc.) around the world to work in teams and directly with our clients. </p>
                
              <p>  When you join McKinsey as an Associate, you are joining a firm that will challenge you and invest in your professional development. In this role you will work on the best teams to help the best organizations in the world – in private, public, and social sectors – solve their most difficult problems. You will also work with many experts, from data scientists and researchers to software and app designers.</p>
                
               <p> If you are interested in joining a specific practice, please indicate this in your office/practice preference (combinations are possible). To learn more about how we help our clients and where you fit in, visit our careers site.</p>
                
               <p> What You'll Do</p>
                
               <p>You'll work in teams of typically 3 - 5 consultants, playing an active role in all aspects of client engagement.</p>
                
               <p> This includes gathering and analyzing information, formulating and testing hypotheses, and developing and communicating recommendations. You'll also have the opportunity to present results to client management and implement recommendations in collaboration with client team members.</p>
                
               <p> Associates receive exceptional training as well as frequent coaching and mentoring from colleagues on their teams. This support includes a Partner from your local office or practice assigned to you to help guide your career as well as up to five weeks of formal training in your first two years as an Associate. Additionally, you'll receive guidance and support from your local office or practice in the selection of client projects, helping you to develop your skills and build your network.</p>
                
               <p> While all consultants develop specialized knowledge and a focused program as they progress with McKinsey, most are initially very broad in their focus, meaning they do not need specific industry or functional expertise to be successful. For consultants who join McKinsey as experienced professionals, this can mean building on previous knowledge or developing unique experience in an area that is completely new.</p>
                
                <p>For all Associates, you will likely intersect with many elements of our firm's work including Digital, Analytics, Implementation - either by collaborating on teams or working with colleagues from these groups.</p>
                
                <p>Qualifications
                    <ul><li> Bachelor's degree; Advanced graduate degree (e.g., MBA, PhD, etc.) typically preferred; Academic degree requirements may vary by country </li>
                    <li> Outstanding records of academic and managerial or professional achievement </li> 
                    <li> Exceptional analytical and quantitative problem-solving skills </li>
                    <li> Strong record of leadership in an academic, professional, or extracurricular setting </li>
                    <li> Ability to work collaboratively in a team environment </li>
                    <li> Ability to work effectively with people at all levels in an organization </li>
                    <li> Ability to communicate complex ideas effectively, both verbally and in writing, in English and the local office language(s)
                    <li> Willingness to travel </li>
                </ul></p> 
            <h4> Assessment Examples </h4>
        </div>
        
    </div>
</body>
</html>
