html,body{
    margin:0;
    width: 100%;
    height: 100%;
    /* background: rgb(0,46,93);
background: linear-gradient(90deg, rgba(0,46,93,1) 0%, rgba(0,46,93,0.4150035014005602) 23%, rgba(0,46,93,0.7455357142857143) 100%); */
background-color: #dcdcdc;
font-family: Arial, Helvetica, sans-serif;
}
h1,h2,h3,h4{
    
font-family:Verdana, Geneva, Tahoma, sans-serif
}

.job_detail,.jobPost,.container.assessment{
    background-color: white;
}
blockquote{
    background-color: #eeeeee;
    padding: 10px;
}

.container{
    width: 80%;
    margin: auto;
}
.container.assessment{
    margin-top: 25px;
    display: block;
    border: 3px solid #002e5d;
    padding: 20px;
    
    max-height: calc(100vh - 220px);
    overflow-y: auto;

}
.container.flex{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
}
.screenedApplicants h2{
    padding: 15px;
    margin: 0;
    text-align: center;
}
.header{
    /* background-image: ; */
    /* background: radial-gradient(closest-side, #0062b8, #002e5d); */
    /* radial-gradient(circle at center, red 0, blue, green 100%)

    <radialGradient id="radial-gradient" cx="0.486" cy="0.5" r="0.767" gradientUnits="objectBoundingBox">
        <stop offset="0" stop-color="#0062b8"/>
        <stop offset="1" stop-color="#002e5d"/>
      </radialGradient> */
    background:#002e5d;
    /* background: #18c27d;; */
    /* background: black; */
    color: white;
}
.header h1{
    text-align: center;
    margin: 0;
    padding: 5px 0;
    /* text-transform: uppercase; */
}

.feedbackHeader h1{
    text-align: center;
}
.dashboardHeader h1{
    z-index: 99;
    right: 100px;
    top: 30px;
    position:absolute;
    color:white;

}
.feedbackBody{
    padding-left: 15px;
}
.questionsMissed{
    padding-left: 30px;
}
.listOfResources{
    padding-left: 30px;
}

.jobpostings h1{
    padding: 15px;
    margin: 0;
    text-align: center;
}
.jobpostings{
    width: 40%;
    margin: 20px;
    margin-bottom: 0;
}
.jobPost{
    padding: 15px;
    border: 4px solid #002e5d;
    margin: 10px 0;
}
.jobPost.active{
    border: 8px solid #002e5d;
}
.scroll{
    height: calc(100vh - 220px);
    /* bottom: 15px; */
    position: relative;
    overflow-y: auto;
}
.listings.scroll{
    height: calc(100vh - 240px);

}

.job_detail{
    width: 60%;
    margin: 20px;
    padding: 20px;
    border: 8px solid #002e5d;
    /* box-shadow: 0px 0px 2px 2px #0062b8; */
    display:none;
    
}
.job_detail.active{
    display: block;
}

.question{
    padding-bottom: 15px;
}


::-webkit-scrollbar {
    width: 10px;
  }
  
  Track
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;
    border-radius: 10px; */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: lightgrey;
    border-radius: 5px;
  }

button,input[type="submit"]{
    background-color: #18c27d;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 9px 25px 0 rgba(0,0,0,0.19);
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.job_detail button{
    align-items: right;
}
.assessmentButtons{
    padding-left: 30px;
}