html,body{
    margin:0;
    width: 100%;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    
    border: 1px solid black;
}
.feedbackHeader h1{
    text-align: center;
}
.feedbackBody{
    padding-left: 15px;
}
.listOfResources{
    padding-left: 30px;
}
.header h1{
    text-align: center;
}
.jobpostings h1{
    padding: 15px;
    text-align: center;
}
.jobpostings{
    width: 40%;
    margin: 20px;
    border: 1px solid black;

}
.jobPost{
    padding: 15px;
    border: 1px solid black;
}

.job_detail{
    width: 60%;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
}

.question{
    padding-bottom: 15px;
}
